/* FONTS */
@font-face {
  font-family: "Lemon";
  src: url(./LemonDays.ttf);
}

@font-face {
  font-family: "Geminimoon";
  src: url(./GeminiMoon.otf);
}
@font-face {
  font-family: "nature";
  src: url(./Naturalist.ttf);
}
@font-face {
  font-family: "jose";
  src: url(./JosefinSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "milk";
  src: url(./MilkyNice.ttf);
}







#website_name {
  color: rgb(47, 49, 49);
  font-family: "Geminimoon";
  font-size: 50px;
  
}

h1 {

padding-top: 50px;
}

h2 {
  font-family: "milk";
  font-size: 30px;
}


/* Whole document */ 
* { 
    color: rgb(47, 49, 49);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    font-family: "jose";
    
}

body {
  text-align: center;
}

.container {
  margin: 32px;
}

ul {
  list-style: none;
  margin: 8px;
  padding: 0px;
}

li {
  display: flex;
  gap: 16px
}

/* LINKS */

a {
  text-decoration: none;
  
}



a:hover {
  text-decoration: none;
}

/* NAVIGATION and DROPDOWNS */

nav {
  justify-content: center;
  align-self: center;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
 
}


/* Dropdown Button */
.dropbtn {
  background: none;
  color: rgb(0, 0, 0);
  padding: 16px;
  margin: 10px;
  font-size: 16px;
  border: none;
  box-shadow: none;

}

.pointer {
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  cursor: default;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #92b080;}


  table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 30px;
    width: calc(100% - 2*64px);
    margin: 32px 64px;
    align-items: center;
    align-self: center;
    text-align: left;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  tr {
    height: 40px;
   
  }



  tr:nth-child(even) {
    background:#f6ece0;
  }
  tr:nth-child(odd) {
    background:#fffffe;
  }

  body {
    

    background-color: rgb(255, 255, 255);
    margin: 0px
  }
  
 

  .submit-button {
    background-color: #92b080;
    border-radius: 50px;
    font-size: medium;
  }
  
  header {
  
    margin: 0px;
    padding: 2px;
    padding-top: 50px;
    width: 100%;
    color:rgb(236, 221, 202);
   
  }
  /* the view edit delete buttons on upcoming*/
  button, input {
    color: rgb(255, 255, 255);
    background-color: #eaceab;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  
  
  input {
    color: black
  }

  input[type="submit"]{
    cursor: pointer;
  }
  
  .form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
  }
  
  
  .form-inline {
    justify-content: center;
  }

  label {
    width: 100px;
    text-align: right;
  }

  td, th {
    padding: 8px;
    text-align: center;
   
  }




  .class_container {
    display: flex;
  }
