<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <title>Yoga Fairy Bookings</title>
</head>
<body>
    <header>
        <h1>Yoga Fairy Bookings</h1>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/sessions">All Classes</a></li>
                <li><a href="/sessions/new">Add A Class</a></li>
                <li><a href="/students">All Students</a></li>
                <li><a href="/students/new">Add a Student</a></li>
                <li><a href="/bookings">All Bookings</a></li>
                

        </ul>
        </nav>
        </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>