<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>BB Bookings</title>
</head>
<body>
    <header>
        <h1><a href="/">Bibidi-Bobidi-Bookings</a></h1>

<div id="dropdown nav">
        <nav>
            <div class="dropdown">
                <button class="dropbtn">Classes</button>
                <div class="dropdown-content">
                  <a href="/sessions">All classes</a>
                  <a href="/sessions/new">Add a class</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Students</button>
                <div class="dropdown-content">
                  <a href="/students">All students</a>
                  <a href="/students/new">Add new student</a>
                </div>
            </div>
            <div class="dropdown">
            <a href="/bookings"><button class="dropbtn">Activity Log</button></a>
            </div>
            <div class="dropdown">
            <a href="/bookings/new"><button class="dropbtn">New Booking</button></a>
            </div>
        </nav>
    </div>
        </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>