{% extends "base.html" %}
{% block content %}

<h1> All Students </h1>
<table>
    <tr>
      <th>Name</th>
      <th>Credits</th>
      <th> </th>
      <th> </th>
      
    </tr>
{% for student in students %}


    <tr>
        <td>{{ student.first_name}} {{ student.last_name }}</td>
        <td>{{ student.credits}} </td>
        <td><a href="/students/{{ student.id }}">View</a> </td>  
        <td><a href="/students/{{ student.id }}/edit">Edit</a></td>
   
        
        
   
</table>

{% endfor %}

{% endblock %}