{% extends "base.html" %}
{% block content %}

<h2> All Students </h2>
<br>
<form action="/students/new" method="GET" autocomplete="off">
  <input type="submit" class="submit-button" value="Add New Student">
</form>

<table>
  <tr>
    <th>Name:</th>
    <th>Credits:</th>

  </tr>

  {% for student in students %}
  <tr>
    <td>{{ student.first_name}} {{ student.last_name }}</td>
    <td>{{ student.credits}} </td>
    <td><button><a href="/students/{{ student.id }}">View</a></button> </td>
    <td><button><a href="/students/{{ student.id }}/edit">Edit</a></button></td>
    <td><button><a href="/bookings/student/{{ student.id }}/new">Make Booking</button></td>
  </tr>
  {% endfor %}
</table>



{% endblock %}