
{% extends "base.html" %}
{% block content %}

<h2>Add a New Student</h2>

<div class="form-container">

    <form action="/students" method="post">
        <label for="first_name">First name</label>
        <input type="text" name="first_name" id="first_name">
        <label for="last_name">Last name</label>
        <input type="text" name="last_name" id="last_name">
        <label for="Credits">Credits</label>
        <input type="number" name="credits" id="credits">
        <input type="submit" class="submit-button" value="Add Student">
      </form>
    </div>

{% endblock %}
