
{% extends "base.html" %}
{% block content %}

<h2>Magic! You've added a student.</h2>
<br>
<h3>Add another Student</h3>
<br>
<div class="form-container">
<ul>
    <form action="/students" method="post" autocomplete="off">
        <li><label for="first_name">First name</label>
        <input type="text" name="first_name" id="first_name"></li>
        <br>
        <li><label for="last_name">Last name</label>
        <input type="text" name="last_name" id="last_name"></li>
        <br>
        <li><label for="Credits">Credits</label>
        <input type="number" name="credits" id="credits"></li>
        <br>
        <input type="submit" class="submit-button" value="Add Student">
      </form>
    </div>
    <br>
</ul>
{% endblock %}
