{% extends "base.html" %}
{% block content %}

<h2> Student Details </h2>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Credits</th>
    </tr>
    <tr>
        <td>{{student.first_name}}</td>
        <td>{{student.last_name}}</td>
        <td>{{student.credits}}</td>
        <td><button><a href="/students/{{ student.id }}/edit">Edit</a></button></td> 
    </tr>
    </table>

<h2>Bookings:</h2>
<table>
    <tr>{%for booking in bookings%}
    <td>{{booking.session.date.strftime("%A %d %B")}} </td> <td> {{booking.session.time.strftime("%H:%M")}} </td><td> <a href="/sessions/{{booking.session.id}}">{{ booking.session.yoga_type }}</a></td>
    {%endfor%}</tr>
</table>



{% endblock %}