
{% extends "base.html" %}
{% block content %}

<h2>Add a New Booking</h2>

<form action="/bookings" method="POST">
  <div>
      <label for="student">Student:</label>
      <select name="student_id" id="student">
          {% for student in students%}
          <option value="{{ student.id }}">
              {{ student.full_name() }}
          </option>
    
          {% endfor %}
      </select>
  </div>
  <div>
      <label for="session">Session:</label>
      <select name="session_id" id="session">
          {% for session in sessions%}
          <option value="{{ session.id }}">
              {{ session.yoga_type }} {{session.date.strftime("%A %d %B")}}
          </option>
          {% endfor %}
      </select>
  </div>

      <input type="submit">
  </div>
</form>

{% endblock %}
