{% extends "base.html" %}
{% block content %}

<h2>{{ selected_session.yoga_type }} </h2>

<br>
<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Type</th>
    <th>Length</th>
  </tr>
  <tr>
    <td>{{selected_session.date.strftime("%A %d %B %Y")}}</td>
    <td>{{selected_session.time.strftime("%H:%M")}}</td>
    <td>{{selected_session.yoga_type}}</td>
    <td>{{selected_session.duration}} minutes</td>
</tr>
</table>
<br>
<h3> Who would you like to book in? </h3>
<br>
<form action="/bookings/<id>" method="POST">

  <select name="student_id" id="student">
    {% for student in students%}
    <option value="{{ student.id }}">
      {{ student.full_name() }}
    </option>
    {% endfor %}
  </select>
  <br>

  <input type="hidden" id="session_id" name="session_id" value="{{ selected_session.id }}">

  <br>


  <input type="submit" class="submit-button" value="Book">

</form>

{% endblock %}