{% extends "base.html" %}
{% block content %}
<h2>Huzzah! Booking made.</h2>
<br>
<h3>Add another booking</h3>
<br>
<form action="/bookings" method="POST" autocomplete="off">

    <label for="student">Student:</label>
    <select name="student_id" id="student">
        {% for student in students%}
        <option value="{{ student.id }}">
            {{ student.full_name() }}
        </option>
        {% endfor %}
    </select>
<br>
<br>
    <label for="session">Session:</label>
    <select name="session_id" id="session">
        {% for session in sessions%}
        <option value="{{ session.id }}">
            {{session.date.strftime("%A %d %B")}} | {{session.time.strftime("%H:%M")}} | {{ session.yoga_type }}  
        </option>
        {% endfor %}
    </select>
<br>
<br>
    <input type="submit">

</form>

{% endblock %}